---
import type { Project } from "../types";
import type { ImageMetadata } from "astro";
import Tag from "./Tag.astro";
import external from "../icons/external.svg?raw";
import { Image } from "astro:assets";

const { project, priority = false } = Astro.props as {
  project: Project;
  priority?: boolean;
};
const { filename, name, role, tags, link, imageStyle, postID } =
  project as Project;

// Dynamically import all images
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}"
);

const imagePath = `/src/assets/${filename}`;
if (!images[imagePath]) {
  throw new Error(`"${imagePath}" does not exist in glob: ${filename}`);
}
---

<style>
  .card {
    width: 300px;
    height: 100%;
    background: transparent;
  }
</style>
<style is:global>
  .card:hover {
    box-shadow: 1px 1px 10px #e4bef5;
  }
</style>

<a
  href={postID ? `/work/${postID}` : link}
  target={postID ? undefined : "_blank"}
  class="display:block rounded-[12px] hover:scale-[103%] card group duration-300 ease-in-out min-w-[16rem] bg-base-100 shadow-md not-prose flex-grow cursor-pointer overflow-hidden"
>
  <figure>
    <Image
      src={images[imagePath]()}
      alt={name || ""}
      loading={priority ? "eager" : "lazy"}
      width={300}
      height={225}
      style={{
        aspectRatio: "4/3",
        objectPosition: "50% 20%",
        objectFit: "cover",
        width: "100%",
        ...imageStyle,
      }}
      transition:name={postID ? `project-${postID}` : undefined}
    />
  </figure>
  <div class="p-4 pb-2 flex flex-col gap-2 bg-slate-800 filter:blur-md">
    {
      name ? (
        <h2 class="card-title inline-block text-card-title font-bold">
          {name}
        </h2>
      ) : (
        <div class="h-0" />
      )
    }

    {role && <span class="text-accent-cyan">{role}</span>}
    <div class="card-actions">
      <div class="flex flex-wrap gap-[10px] prose gap-y-0">
        {tags?.map((tag: string) => <Tag title={tag} />)}
      </div>
    </div>
  </div>
</a>
